<!DOCTYPE html>
<html>
  <head>
    <title>Rad CD Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      #parse( $template2 )
      #parse( $template )
    </div>
  </body>
</html>
